$copper: #be7c4d;
$dark-red: #92140c;
$jet: #353238;
$cedar-chest: #be5a38;
$pale-silver: #c1b4ae;

$primary: $copper;
$secondary: $jet;
$danger: $dark-red;

@function spacing($mult) {
  $base: 8;
  @return $mult * $base * 1px;
}
